
@{
    ViewData["Title"] = "Penetrasyon Test Sonuçları";
}

<div class="container">
    <h1 class="pb-3">Penetrasyon Test Sonuçları</h1>
    <iframe src="/lib/pdf/pentest.pdf" width="100%" height="800px">
</div>

