@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Login";
	
}
@*<form action="Verify" method="post">
    <input type="text" name="Name" placeholder="type your username"/>
<input type="password" name="Password" placeholder="type your password"/>
  <input type="submit" value="Login"/>
</form>*@
@*<form action="Verify" method="post">
  <div class="form-group">
    <label for="Name">User Name</label>
    <input type="text" id="Name" name="Name"  class="form-control"  >
    
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="Password" id="Password"name="Password" class="form-control" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>*@

<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="/lib/images/img-01.png" alt="IMG">
				</div>

				<form class="login100-form validate-form" action="Verify" method="post">
					<span class="login100-form-title">
						Member Login
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" id="Name" name="Name" placeholder="username">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" id="Password" name="Password" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">Giriş Yap</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
							@if (ViewBag.Message=="Kullanıcı adı veya şifre yanlış.")
							{
								<p style="color: red;">@ViewBag.Message</p>
							}
						</span>
					</div>

					<div class="text-center p-t-136">
					
					</div>
				</form>
			</div>
		</div>
	</div>