@{
    ViewData["Title"] = "Home Page";
}

<header class="text-center" style="background-color: #001c6a; padding:128px 16px">
  <h1 class="w3-margin w3-jumbo text-white" style="font-size:65px!important">Penetrasyon Testi</h1>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="container">
    <div class="w3-twothird p-5">
      <div class="py-5">
          <h1 class="pb-4" style="font-weight:400">Penetrasyon Testi Nedir?</h1>
      <div class="row">
          <div class="col-md-8">
      <p style="font-size:18px!important" class="w3-text-grey">Sızma testlerinde siber suçluların gerçek dünyada kullandığı yöntemler kullanılarak bir kurumun bilişim altyapısına sızılmaya ve ele geçirilmeye çalışılır. Böylelikle penetrasyon testi yapan güvenlikçiler, hacker gibi düşünüp sisteme sızma ve ele geçirme senaryolarını uygulayarak ve saldırganların deneyebileceği tüm yöntemleri deneyerek gerçek bir saldırı ile karşılaşıldığında sistemin açıklık barındıran noktalarının onarılmış ve güvenliği sıkılaştırılmış olmasını sağlamaktadırlar. Penetrasyon testlerinde lisanslı veya açık-kaynak kodlu araçlar kullanılmakta, otomatize tarama araçlarının yanı sıra kuruma özel manuel testler de uygulanarak mümkün olduğunca tüm zafiyetler tespit edilip düzeltilmeye çalışılmaktadır.
  <hr>
        Böylelikle şirket içindeki siber açıklar tespit edilip gerekli altyapı hizmetleri sağlanarak, veri kayıplarının ve olası ekonomik kayıpların önüne geçilir.</p>        
  </div>
          <div class="col-md-4 pl-5">
              <div class="w3-third w3-center">
                  <i style="font-size: 12rem!important" class="fa fa-shield w3-padding-64 w3-text-red"></i>
              </div>
          </div>
      </div>
      </div>
        
    </div>

    
  </div>
</div>

<!-- Second Grid -->
<div style="background-color:#f3f3f3!important" class="w3-row-padding w3-light-grey w3-padding-64 w3-container py-5">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="w3-third w3-center">
              <i style="font-size: 12rem;" class="fa fa-lock w3-padding-64 w3-text-red w3-margin-right"></i>
            </div>
          </div>
          <div class="col-md-8">
              <div class="w3-twothird">
              <h1>Penetrasyon Testi Amacı?</h1>

              <p style="font-size:17px!important" class="w3-text-grey py-4">Penetrasyon testlerinin yapılma amaçlarını şu şekilde sıralayabiliriz.
                <ul style="list-style-type: disc!important;" class="pl-5">
                  <li style="font-size:15px!important; list-style-type:inherit;">
                    Kurumun güvenlik politikalarının ve kontrollerinin verimliliğini test etmek ve denetlemek.
                  </li>
                  <li style="font-size:16px!important; list-style-type:inherit;">Zafiyet ve açıklık taramasını içten ve dıştan derinlemesine uygulamak.</li>
                  <li style="font-size:16px!important; list-style-type:inherit;">Standartlara uyumluluk için veri toplayan denetleme ekiplerine kullanılabilir data sağlamak.</li>
                  <li style="font-size:16px!important; list-style-type:inherit;">Kurumun güvenlik kapasitesi hakkında kapsamlı ve ayrıntılı analiz sunarak güvenlik denetlemelerinin maliyetini düşürmek.</li>
                  <li style="font-size:16px!important; list-style-type:inherit;">Bilinen zafiyetlere uygun yamaların uygulanmasını sistematik bir hale getirmek.</li>
                </ul>
              </p>
            </div>
          </div>
      </div>
    

    
  </div>
</div>
